@font-face {
    font-display: swap; 
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/oxanium-v19-latin-300.woff2') format('woff2'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oxanium-v19-latin-regular.woff2') format('woff2'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/oxanium-v19-latin-600.woff2') format('woff2'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/oxanium-v19-latin-800.woff2') format('woff2'); 
  }
*{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-size: inherit;
    font-weight: inherit;
}
a{
    color:inherit;
    text-decoration: none;
    display: block;
}
p a{
    display: inline;
}
img , picture , video , iframe , svg {
    display: block;
    width: 100%;
    height: initial;
}
svg{
    fill: currentColor;
}
form , input , label , select , option , textarea , button{
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    display: block;
    background-color: transparent;
}
html{
    scroll-behavior: smooth;
}
:root{

    --c-bg-primary: #000;
    --c-bg-secondary: #fff;
    --c-bg-tertiary: #FDF731;
    --c-bg-tertiary-h: #FFFC9A;
    --c-bg-quaternary: #505D66;

    --c-f-primary: #fff;
    --c-f-secondary: #000;
    --c-f-tertiary: #FDF731;
    --c-f-tertiary-h: #FFFC9A;
    --c-f-quaternary: #505D66;
    --c-f-required: #A73535;
    --c-f-copy: #c5c5c5;

    --c-divisor: #858585;

    --mt-fix-header: 4.5rem auto 0;
    --b-radius-btn: .2rem;

    font-size: 100%;
}
body{
    font-family: "Oxanium", sans-serif;
}
.Header{
    width: 100%;
    padding: .5rem 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--c-bg-primary);
    color: var(--c-f-primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.Header-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}
.Header-btn{
    padding: .5rem 1rem;
}
.Header-menu{
    width: 2.25rem;
    cursor: pointer;
}
/* Sale el nav por la derecha al pulsar el menú */
.Header-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--c-bg-primary);
    padding: 8.5rem 5rem;
    font-size: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 1s ease;
    z-index: 3;
}
.Header-nav.isOpen{
    transform: translateX(0);
}
.Nav-ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    z-index: 4;
}
.Nav-li{
    transition: color .5s ease;
    transition: transform 1s ease;
}
/* Retardo en el navUp para dar efecto a la salida del menú item a item.*/
.Li-home.navUp{
    transition-delay: 0s;
}
.Li-artists.navUp{
    transition-delay: .1s;
}
.Li-tickets.navUp{
    transition-delay: .2s;
}
.Li-partners.navUp{
    transition-delay: .3s;
}
.Li-sustainability.navUp{
    transition-delay: .4s;
}
.Li-services.navUp{
    transition-delay: .5s;
}
.Li-work.navUp{
    transition-delay: .6s;
}
/* Retardo en el navDown para dar efecto a la salida del menú item a item. Al salir por abajo, está invertido el delay*/
.Li-home.navDown{
    transition-delay: .6s;
}
.Li-artists.navDown{
    transition-delay: .5s;
}
.Li-tickets.navDown{
    transition-delay: .4s;
}
.Li-partners.navDown{
    transition-delay: .3s;
}
.Li-sustainability.navDown{
    transition-delay: .2s;
}
.Li-services.navDown{
    transition-delay: .1s;
}
.Li-work.navDown{
    transition-delay: 0s;
}
.Nav-li:hover{
    color: var(--c-f-tertiary);
}
.Nav-li.navUp{
    transform: translateY(0);
}
.Nav-li.navDown{
    transform: translateY(150vh);
}
.Background-logo{
    max-width: 70vw;
    height: 100%;   
    position: absolute;
    top: 4.5rem;
    right: 0;
    z-index: 1;
    pointer-events: none;
}
.H1-span--nd{
    display: none;
}
.H2{
    font-size: 3.25rem;
    font-weight: 600;
}
.H3{
    font-size: 2rem;
    font-weight: 600;
}
.Wrapper {
    padding: 2.5rem 5rem 5rem;
    max-width: 2200px;
    margin: 0 auto;
  }
.Menu-svg{
    fill: var(--c-f-primary);
}
.Btn{
    border-radius: var(--b-radius-btn);
}
.Btn-primary{
    background-color: var(--c-bg-tertiary);
    color: #000;
    transition: background-color .5s ease;
}
.Btn-primary:hover{
    background-color: var(--c-f-tertiary-h);
}
.Btn-secondary{
    background-color: var(--c-bg-secondary);
    border-radius: var(--b-radius-btn);
    color: var(--c-f-secondary);
    transition: background-color .5s ease;
}
.Btn-secondary:hover{
    background-color: var(--c-f-tertiary-h);
}
.Menu-btn{
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease , fill .5s ease;
}
.Menu-btn:hover{
    fill: var(--c-f-tertiary);
}
.Menu-btn.isActive{
    opacity: 1;
    pointer-events: all;
}
.Btn-close{
    width: 1.5rem;
    position: fixed;
    top: 1.25rem;
    right: 5rem;
    cursor: pointer;
    z-index: 6;
    opacity: 0;
    pointer-events: none;
    transform: rotate(0);
    transition: opacity 1s ease, transform 1s linear , fill .5s ease;
}
.Btn-close:hover>path{
    fill: var(--c-f-tertiary);
}
.Btn-close.isActive{
    opacity: 1;
    transform: rotate(-180deg);
    pointer-events: all;
}
.Btn-tickets{
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}
.Btn-tickets.isActive{
    opacity: 1;
    pointer-events: all;
}
.Modal-suscribe{
    position: fixed;
    opacity: 0;
    pointer-events: none;
    /* -web-kit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
    background-color: rgba(0, 0, 0, .8);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    transition: opacity .5s ease;
}
.Modal-suscribe.isOpen{
    opacity: 1;
    pointer-events: all;
}
.Modal-container{    
    margin: 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--c-bg-secondary);
    padding: 1.5rem;
    border: 1px solid var(--c-bg-quaternary);
    border-radius: 1rem;
    transform: scale(0);
    transition: transform .5s cubic-bezier(.45,-0.19,.51,1.58);
}
.Modal-suscribe.isOpen .Modal-container{
    transform: scale(1);
}
.Modal-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Modal-svg{
    align-self: flex-end;
    width: 1rem;
    cursor: pointer;
}
.Modal-svg > path{
    fill: var(--c-f-quaternary);
}
.Success-icon{
    width: 4rem;
    margin: 0 0 1rem;
}
.Modal-text{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--c-f-secondary);
}
.Modal-heading{
    font-size: 2rem;
    font-weight: 600;
}
.Modal-description{
    max-width: 480px;
    text-align: center;
    margin: 0 0 1rem
}
.Footer{
    background-color: var(--c-bg-primary);
    color: var(--c-f-primary);
}
.Footer-wrapper{
    padding: 5rem 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.Footer-svg{
    width: 7.375rem;
}
.Footer-newsletter{
    display: flex;
    flex-flow: column nowrap;
    justify-items: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}
.Footer-form{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
    position: relative;
}
.Form-h4{
    font-size: 1.0625rem;
}
.Footer-form > .Form-label{
    position: absolute;
    pointer-events: none;
    opacity: 0;
}
.Form-input{
    background-color: var(--c-bg-secondary);
    padding: .5rem;
    border-radius: var(--b-radius-btn);
    color: var(--c-f-secondary);
}
.Form-btn{
    padding: .5rem 1rem; 
    cursor: pointer;
}
.Social-ul{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}
.Social-a>svg>path{
    transition: fill .5s ease;
}
.Social-li:hover .Social-a>svg>path{
    fill: var(--c-bg-tertiary); 
}
.Footer-h5{
    font-size: 1.5rem;
}
.Footer-ul{
    margin: 1.5rem 0 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}
.Footer-li{
    transition: color .5s ease;
}
.Footer-li:hover{
    color: var(--c-f-tertiary);
}
.Span-copy{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    font-size: .75rem;
    font-weight: 300;
    color: var(--c-f-copy);
    padding: 0 0 .5rem;
}
@media (max-width:730px){
    .Footer-wrapper{
        display: flex;
        flex-flow: row wrap;
    }
    .Footer-newsletter{
        width: 100%;
        margin: 0 0 2.5rem;
        align-items: center
    }
    .Social-ul{
        justify-content: center;
        gap: 2.5rem;
    }
}
@media(max-width:640px){
    .H2{
        font-size: 2.5rem;
    }
    .H3{
        font-size: 1.75rem;
        font-weight: 600;
    }
    .Wrapper{
        padding: 2.5rem 5rem;
    }
}
@media(max-width:580px){
    .Header{
        padding: .5rem 1rem;
    }
    .Wrapper{
        padding: 2.5rem 1rem;
    }
    .Header-nav{
        padding: 0rem 1rem;
    }
    .Btn-close{
        right: 1.5rem;
    }
    .Footer-wrapper{
        padding: 2.5rem 1.5rem;
    }
}