body{
    background-color: var(--c-bg-secondary);
    color: var(--c-f-secondary);
}
.Article-partners{
    margin: var(--mt-fix-header);
}
.Grid-partners{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 24px;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    max-width: 1200px;
}
.Grid-item{
    position: relative;
    transition: box-shadow 1s ease;
}
.Grid-item:hover{
    box-shadow: inset 1rem -1rem .25rem 0px rgba(0,0,0,1);
}
.Grid-item:hover .Article-h3{
    transform: translate(.75rem , -.75rem);
}
.Grid-picture{
    height: 100%;
    border: 1px solid #000;
    transition: transform 1s ease;
}
.Grid-picture:hover{
    transform: translate(.75rem , -.75rem);
}
@media(max-width:880px){
    .Grid-partners{
        grid-template-columns: repeat(2, 1fr);
        align-self: center;
    }
}
@media(max-width:580px){
    .Wrapper{
        padding: 2.5rem 1rem;
    }
}
@media(max-width:480px){
    .Grid-item:hover{
        box-shadow: none;
    }
    .Grid-item:hover .Article-h3{
        transform: none;
    }
    .Grid-picture:hover{
        transform: none;
    }
}
@media(max-width:400px){
    .Grid-partners{
        grid-template-columns: 1fr;
        align-self: center;
    }
}
