body{
    background-color: var(--c-bg-secondary);
    color: var(--c-f-secondary);
}
.Heading-img{
    max-height: 60vh;
}
.Heading-services{
    margin: var(--mt-fix-header);
}
.Services-container{
    width: 100%;
    padding: 2.5rem 0 0;
    display: flex;
    flex-flow: row nowrap;  
    justify-content: flex-start;
    align-items: center;
}
.Services-ul{
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
}
.Services-li{
    padding: 0 1rem;
    width: 100%;
    border-top: 1px solid var(--c-divisor);
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.Services-text{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.Services-h3{
    font-size: 1.5rem;
    padding: .5rem 0 0;
    cursor: pointer;
}
.Services-paragraph--wrapper{
    overflow: hidden;
}
.Services-paragraph{
    padding: .5rem 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: max-height 2s ease;
    max-height: 0;
}
.Services-paragraph.isActive{
    position: relative;
    pointer-events: auto;
    opacity: 1;
    max-height: 1000px;
}
.Services-p-li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}
.Services-p-li::before{
    content: "-";
    display: block;
}   
.Services-icon{
    cursor: pointer;
    position: relative;
}
.Icon-svg{
    width: 1rem;
    position: absolute;
    top: calc(1.2188rem - .5rem);
    right: 0;
}
.Icon-svg--up{
    opacity: 0;
    pointer-events: none;
}
.Icon-svg--up.isActive{
    opacity: 1;
    pointer-events: auto;
}
.Icon-svg--down{
    opacity: 0;
    pointer-events: none;
}
.Icon-svg--down.isActive{
    opacity: 1;
    pointer-events: auto;
}
@media(max-width:580px){
    .Services-ul{
        padding: 0;
    }
    .Icon-svg{
        width: 2rem;
        top: calc(1.2188rem - 1rem);
    }
}
@media(max-width:380px){
    .Services-h3{
        font-size: 1rem;
    }
}

