body{
    background-color: var(--c-bg-secondary);
    color: var(--c-f-secondary);
}
.Heading-work{
    margin: var(--mt-fix-header);
    position: relative;
}
.Heading-img{
    object-fit: cover;
    width: 100%;
}
.Wrapper{
    padding: 2.5rem 5rem 5rem;
}
.Slider{
    overflow: hidden;
    position: relative;
}
.Slider-arrow{
    width: 1rem;
    position: absolute;
    top: calc(50% - .5rem);
    z-index: 1;
    cursor: pointer;
}
.Slider-arrow:hover path{
    fill: var(--c-bg-tertiary);
}
.Slider-arrow--right{
    right: 0;
}
.Slider-arrow--left{
    left: 0;
}
.Slider-grid{
    width: 400%;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    transition: transform 1s ease;
}
.Section-article{
    margin: 2.5rem 0 2.5rem;
    padding: 0 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}
.Article-svg{
    width: 1rem;
    cursor: pointer;
}
.Wrapper-img{
    width: 30%;
}
.Article-img{
    object-fit: cover;
}
.Wrapper-texts{
    width: 70%;
    margin: 0 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.Article-paragraph{
    line-height: 1.5rem;
}
.Selector-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.Selector-svg{
    cursor: pointer;
}
.Selector-svg:hover .Selector-circle{
    fill: var(--c-bg-quaternary);
}
.Selector-circle{
    transition: fill .5s ease , stroke .5s ease;
}
.Selector-circle.isActive{
    cursor: pointer;
    fill: var(--c-bg-tertiary);
    stroke: var(--c-f-secondary);
    
}

