body{
    background-color: var(--c-bg-secondary);
    color: var(--c-f-secondary);
}
.Wrapper{
    padding: 2.5rem 5rem 5rem;
}
.Heading-img{
    object-fit: cover;
    width: 100%;
}
.Section-tickets{
    min-height: calc(100vh - 4.5rem);
}
.Tickets-paragraph{
    padding: 2.5rem 0rem ;
}
.Tickets-icons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 0 5rem;
}
.Icons-li{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.Tickets-svg{
    width: 5.4375rem;
    height: 2.8125rem;
    transform: rotate(-15deg);
    margin: 0 0 .75rem;
}
.Tickets-svg.isActive .Path-bg{
    fill: var(--c-bg-tertiary);
}
.Tickets-svg.isActive .Path-line{
    fill: var(--c-bg-primary);
}
.Tickets-h3{
    font-weight: 600;
    font-size: 1.5rem;
}
.Tickets-h3::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--c-f-secondary);
    margin: 0 auto;
    transition: width .5s ease;
}
.Icons-li.isActive .Tickets-h3::after{
    width: 50%;
}
.Tickets-description{
    position: relative;
    margin: 2.5rem 0 0;
}
.Description-li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;
}
.Description-li.isActive{
    opacity: 1;
}
.Description-li:first-child{
    position: static;
}
.Description-picture{
    width: 50%;
}
.Description-image{
    object-fit: cover;
}
.Description-text{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .625rem;
    width: 50%;
}
.Description-price{
    font-size: 1.5rem;
    font-weight: 600;
}
.Tickets-btn{
    padding: .375rem 1rem;
    font-size: .875rem;
}
