body{
    background-color: var(--c-bg-secondary);
    color: var(--c-f-secondary);
}
.Heading-work{
    margin: var(--mt-fix-header);
    position: relative;
}
.Heading-img{
    object-fit: cover;
    width: 100%;
    max-height: 70vh;
}
.Wrapper{
    padding: 2.5rem 5rem 5rem;
}
.Section-paragraph{
    margin: 2.5rem 0 0;
}
.Work-form{
    margin: 2.5rem 0 0;
}
.Work-grid{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 1.5rem;
}
.Fields-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.Fields-wrapper .Work-label , .Work-input{
    width: 100%;
    height: 2rem;
}
.Work-label{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;}
.Work-label::after{
    content: '*';
    display: block;
    font-size: .7rem;
    color: var(--c-f-required);
}
.Work-label:last-child::after{
    display: none;
}
.Work-label:last-child::before{
    content: '*';
    display: block;
    font-size: .7rem;
    color: var(--c-f-required);
}
.Work-input{
    border: .0625rem solid var(--c-divisor);
    border-radius: var(--b-radius-btn);
}
.Work-input::placeholder{
    padding: 10rem 10rem;
}
.File-wrapper{
    margin: 1.5rem 0 0;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;
}
.File-wrapper .Work-input{
    border: none;
}
.File-wrapper .Work-input::file-selector-button{
    height: 100%;
    width: 50%;
    background-color: var(--c-bg-secondary);
    border: 1px solid var(--c-divisor);
    border-radius: var(--b-radius-btn);
    font-family: "Oxanium", sans-serif;
}
.File-wrapper .Work-input:hover::file-selector-button{
    background-color: var(--c-bg-tertiary-h);
}
.File-span{
    font-weight: 400;
    font-size: .6875rem;
    color: var(--c-f-quaternary);
}
.Checkbox-wrapper{
    margin: 1.5rem 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}
.Checkbox-wrapper > .Work-input{
    width: initial;
}
.Work-btn{
    padding: .375rem 1rem;
    margin: 1.5rem 0 0;
    cursor: pointer;
}
@media(max-width:900px){
    .File-wrapper{
        width: 100%;
    }
}
@media(max-width:640px){
    .Work-grid{
        grid-template-columns: 1fr;
    }
}
@media(max-width:580px){
    .Wrapper{
        padding: 2.5rem 1rem;
    }
    .Checkbox-wrapper > .Work-input{
        transform: scale(1.7);
    }
}
